.side-bar {
  background-color: #393a44;
  min-width: 200px;
  font-size: 24px;
  text-align: center;
  color: #EAA916;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color:rgb(60, 3, 190);

}


* {
  border-radius: 0 !important;
}


.btn-dark {
  background-color: #1B1B1E;
  color: #EAA916;
}